body {
    background-image: url(../photos/background1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: auto;
}

.container {
    background-color: #9ed7e8;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 370px;
    margin-left: 35%;
    margin-top: 5%;
}

h1 {
    text-align: center;
    color: #11355b;
}

form {
    margin-top: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #11355b;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.carddet {
    display: flex;
    justify-content: space-between;
}

.cardexpire,
.cardcvv {
    width: 48%;
}

button[type="submit"] {
    width: 250px;
    padding: 10px;
    background-color: #11355b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-left: 17%;
}

button[type="submit"]:hover {
    background-color: rgb(0, 109, 168);
}

img {
    width:40px;    
}
.prof{
    margin-left:1220px;
}