/* ##############START NAVI BAR AND HOME############## */
html{
    scroll-behavior:smooth;
}

.navbar {
    background: #117d9e;
    font-family: 'Times New Roman';
    padding-right:10px;
    padding-left: 10px;
}

.navdiv{
    display:flex;
    align-items:center;
    justify-content:space-between;
    
}

.logo {
    font-size: 25px;
    padding-right: 390px;
    color: white;
    
    
    
}
.logopic {
    width: 55px;
    height: 45px;
    cursor: pointer;
    border-radius:30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
li {
    list-style: none;
    display: inline;
    margin-right:15px;
    
}

    li a {
        color: white;
        font-size: 15px;
       
        margin-right: 13px;
        text-decoration: none;
    }
        li a:hover {
           color: #11355b;
        }

button {
    background-color: #84becf;
    margin-left: 1px;
    border-block: hidden;
    border-radius: 8px;
    padding: 6px;
    width: 100px;
    border: none;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button a{
    color:ghostwhite;
    text-decoration:none;
    font-family:'Times New Roman';
    font-size:17px
}
button a:hover{
    color:#117d9e;
   }

.img1{
    width:100%;
    height:600px;
    position:relative;
    }
.header1 {
    position: absolute;
    top: 20%;
    width: 80%;
    text-align: right;
    font-size: 55px;
    color: #ffffff;
    
}
.header2 {
    position: absolute;
    top: 30%;
    width:91%;
    text-align: right;
    font-size: 55px;
    color: #ffffff;
    
}
.para1 {
    position: absolute;
    top: 48%;
    width: 92.5%;
    text-align: right;
    color: #11355b;
    font-size: 18px;
    font-family: 'Times New Roman';
}
.btn2{
    position:absolute;
    top:60%;
    right:400px;
    width:200px; 
    height:45px;
    
}

/* ############### START SERVICE PART ############## */
.topic {
    color: #117d9e;
    font-family:'Times New Roman';
    text-align:center;
    text-decoration:underline;
}

.wrap{
    width:1000px;
    margin:auto;
    margin-top:50px;
}

.card {
    width: 310px;
    text-align: center;
    font-size: 16px;
    font-family: 'Times New Roman';
    float: left;
    margin: 10px;
    background: hsl(188, 36%, 80%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 0.4s;
    border-radius:10px;
}
.icon{
    width:100px;
    height:100px;
    
}
.card h2 {
    color: #11355b;
    font-family: 'Franklin Gothic'
}

.card:hover{
    transform:translateY(-8px);
}


/* ###############START ARTICLE PART################ */
.arti{
    width:410px;
    height:300px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bttn1{
    margin-left:150px;
}


.text1{
  text-align:center;
  color:#11355b;
  font-size:18px;
  
}

.abtarti{
  text-align:center;
  color:#11355b
}


/* ################START ABOUT US PART############### */
.paraab {
    font-family: 'Times New Roman', Times, serif;
    color: #11355b;
    font-size: 20px;
    text-align: center;
    padding-left:140px;
    padding-right:140px;
}


.imgabout {vertical-align: middle;
    border-radius:8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width:650px;
    height:400px}
    
    
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
      
    }
    
    
    
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    
    @media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    }





    /*###################  START CONTACT US #################*/
    .conta{
        width: 450px;
        text-align: left;
        font-size: 16px;
        font-family: 'Times New Roman';
        float: right;
        margin: 10px;
        background: hsl(188, 36%, 80%);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        transition: 0.4s;
        border-radius:10px;
        }
    .conta input[type="text"],
    input[type="email"],
    textarea{
        border: 1px solid #11355b;
        border-radius:5px;
        padding:5px;
        width:190px;
    
    }

    .contbttn{
        margin-left:150px;
        
    }

    /* ########### rating ########### */
    /* styles.css */

.para-rate{
    color:#11355b;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    width:500px;
    margin-left: 100px;
}



.rating {
    display: inline-block;
    margin-left: 280px;
}

.star {
    cursor: pointer;
    font-size: 1.5em;
    color: #ccc;
    transition: color 0.3s;
    margin-right: 5px;
}

.star.clicked {
    color: #11355b; 
}



    
/* ############# START FOOTER PART ############# */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-info, .social-media, .footer-logo {
    flex: 1;
    padding: 10px;
}

.social-icon {
    display: inline-block;
    margin: 7px;
}

.social-icon img {
    width: 50px;
    height: 40px;
}



.legal-notice {
    margin-top: 20px;
}

.back-to-top {
    margin-top: 20px;
}

.back-to-top a {
    color: #fff;
    text-decoration: none;
}
   

        